html {
    box-sizing: border-box;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    text-align: center;
    background-color: rgb(250, 235, 215);
    color: rgb(250, 235, 215);
}

p {
    color: black;
}

h1 {
    font-family: Monoton, cursive;
    font-size: 35px;
    margin: 0.2em;
    color: rgb(255, 128, 128);
}

h2 {
    margin: 1em 0 0.25em;
}

h2:first-of-type {
    margin-top: 0.5em;
}

table,
tr,
td {
    border: 1px solid black;
}

table {
    border-collapse: collapse;
    margin: 0 auto;
}

tr {
    height: 15px;
}

td {
    width: 15px;
}

.dead {
    background-color: rgba(0, 0, 0, 0);
}
.alive {
    background-color: rgb(220, 0, 0);
    color: rgb(220, 0, 0);
}

#begin {
    min-width: 48px;
    min-height: 48px;
    background-color: green;
    color: white;
}

.coord {
    display: none;
}
