html {
    box-sizing: border-box;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #292725;
    color: #faebd7;
}

p {
    color: #ffffff;
}

h1 {
    font-family: Monoton, cursive;
    font-size: 35px;
    margin: 0;
    color: #ff8080;
}

table,
tr,
td {
    border: 1px solid #000000;
}

table {
    border-collapse: collapse;
    margin: 0 auto;
}

tr {
    height: 15px;
}

td {
    width: 15px;
}

#begin {
    min-width: 48px;
    min-height: 48px;
    background-color: #066406;
    color: #ffffff;
}

.coord {
    display: none;
}

.container {
    width: 300px;
    margin: 0 auto;
}
